*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
:root{
  --primary-color: #ffe600;
  --nav-bg: rgba(0, 0, 0, 0.36);
  --white: #fff;
  --black: #000;
}
body{
  font-family: "Oswald", sans-serif;
}
/* header Section Start */
header{
  min-height: 100vh;
  background: url(../image/hero\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
nav{
  background-color: var(--nav-bg);
}
.nav-items li{
  margin-right: 50px;
}
.nav-item-active{
  color: var(--primary-color);
  font-weight: 600;
}
.nav-items-ite{
  position: relative;
}
.nav-items-ite a{
  color: var(--white);
  font-weight: 600;
}
.nav-items-ite a::before{
  content: "";
  position: absolute;
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: var(--primary-color);
}
/* hero */
.hero-section{
  text-align: center;
  height: 100%;
  padding-top: 200px;
}
.hero-section h1{
  font-size: 3rem;
  color: var(--white);
  margin-bottom: 50px;
}
.hero-section .main-btn{
  border: 0;
  background: var(--primary-color);
  font-weight: 600;
  padding: 15px 50px;
  font-size: 20px;
}
.hero-section .arrow-btn{
  position: absolute;
  bottom: 00px;
  background-color: var(--primary-color);
  border: 0;
  padding: 20px;
}
/* header Section End */
/* Service Section Start */
.service .title{
  margin-top: 60px;
  text-align: center;
}
.service .title .service-seb-head{
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 25px;
}
.service .title .service-main-head{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}
.service .title span{
  height: 3px ;
  width: 170px;
  background-color: var(--primary-color);
  display: block;
  margin: auto;
}
.service .title .service-content{
  font-size: 15px;
  margin-top: 25px;
}
.service .service-grid{
  margin-top: 60px;
}
.service .service-grid .img-sec{
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  margin: auto;
  z-index: 111;
  padding: 20px;
  border-radius: 50%;
}
.service .service-grid .first-image {
  background-color: var(--white);
  border: 1px solid;
}
.service .service-grid .img-sec img{
  z-index: 3348484;
  width: 35px;
  height: 35px;
}
.service .service-grid .content {
  margin-top: 25px;
}
.service .service-grid .content h3{
  font-size: 20px;
  font-weight: 700;
}
.service .service-grid .content p{
  font-size: 15px;
  margin-top: 25px;
}
/* Service Section End */
/* Process Section Start  */
.process-section {
  padding-top: 50px;
  background: linear-gradient(rgba(21, 26, 28, 0.7), rgba(21, 26, 28, 0.7)),
              url(../image/process-bg\ \(2\).png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.process-section .title h2{
  color: var(--primary-color);
}
.process-section .title p{
  color: var(--white);
}
/* Process-grid Section */
.process-section .process-grid{
  margin-top: 65px;
}
.process-grid .content{
  color: var(--white);
}
.process-section .process-grid .content h3{
  margin-top: 30px;
  margin-bottom: 30px;
}
.process-section .process-grid .content p{
  font-size: 14px;
}
/* Process Section End */
/* Portfolio Section Start  */
.portfolio .title{
  margin-top: 65px;
}
.portfolio .title .sub-head{
  color: #515151;
  margin-bottom: 25px;
  font-weight: 600;
}
.portfolio .title h2{
  font-weight: bolder;
  margin-bottom: 25px;
}
.portfolio .title span{
  display: block;
  width: 175px;
  height: 2px ;
  background-color:  var(--primary-color);
  margin: auto;
}
.portfolio .title .para{
  font-size: 15px;
  margin-top: 25px;
}
/* Navigation Menu */
.portfolio-filter {
    text-align: center;
    padding: 20px;
}

.portfolio-filter ul {
    flex-wrap: wrap;
}

.portfolio-filter li {
  display: inline-block;
  margin-bottom: 20px;
}

.portfolio-filter a {
    text-decoration: none;
    color: #666666;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 5px 10px;
    transition: 0.3s;
}
.portfolio-filter a.active,
.portfolio-filter a:hover {
    color: #FFD700;
}
.separator {
    height: 5px;
    width: 5px;
    background-color: var(--primary-color);
    margin: 0 5px;
    pointer-events: none;
}
/* Portfolio Image Section */
.portfolio-img-sec{
  display: flex;
  gap: 40px;
}
.portfolio-img-sec .img-sec {
  flex-basis: 50%;
}
.portfolio-img-sec img {
  width: 100%;
}
.portfolio-img-sec .content{
  flex-basis: 50%;
  margin-top: 65px;
  color: #707070;
}
.portfolio-img-sec .content h3{
  font-size: 25px;
}
.portfolio-img-sec .content p{
  margin-top: 30px;
  font-size: 15px;
}
.portfolio-img-sec .content button{
  padding: 18px 46px;
  font-size: 20px ;
  color: var(--white);
  background-color: var(--primary-color);
  border: 0;
}
/* Portfolio Section End */
/* Gallery Section Start */
.gallery{
  margin-top: 70px;
}
.gallery .gallery-container {
  display: grid;
  grid-template-columns: repeat(6,1fr);
}
.gallery .gallery-container img{
  width: 100%;
  height: 100%;
  z-index: 222;
}
.gallery .first-image {
  position: relative;
}
.gallery .first-image .content{
  position: absolute;
  z-index: 474747;
  top: 40%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  /* transform: translate(-50%, -50%); */
}
.gallery .first-image::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffd900cf;
}
.gallery .first-image h3{
  font-size: 18px;
}
.gallery .first-image p{
  font-size: 14px;
}
/* Gallery Section End */
@media (max-width: 1200px) {
/* Portfolio Image Section */
.portfolio-img-sec{
  gap: 20px;
}
.portfolio-img-sec .content{
  margin-top: 10px;
}
.portfolio-img-sec .content p{
  margin-top: 10px;
}
.portfolio-img-sec .content button{
  padding: 15px 40px;
}
}
@media (max-width: 992px) {
/* Header */
  .hero-section h1{
    font-size: 40px;
    margin-bottom: 43px;
  }
  .hero-section .main-btn{
    padding: 15px 50px;
    font-size: 18px;
  }
  .hero-section .arrow-btn{
    padding: 12px;
  }
  /* Header */
  /* Portfolio Image Section */
.portfolio-img-sec{
  gap: 50px;
  flex-direction: column;
  text-align: center;
}
.portfolio-img-sec .img-sec{
  flex-basis: 100%;
}
.portfolio-img-sec .content{
  flex-basis: 100%;
  margin-top: 10px;
  padding: 0 30px;
}
.portfolio-img-sec .content p{
  margin-top: 30px;
  margin-bottom: 30px;
}
.portfolio-img-sec .content button{
  padding: 18px 46px;
}
}
@media (max-width: 768px) {
  /* Header */
  .hero-section h1{
    font-size: 35px;
    margin-bottom: 40px;
  }
  .hero-section .main-btn{
    padding: 13px 44px;
    font-size: 18px;
  }
  .hero-section .arrow-btn{
    padding: 12px;
  }
  /* Header */
}
@media (max-width: 576px) {
  /* Header */
  .hero-section h1{
    font-size: 30px;
    margin-bottom: 35px;
  }
  .hero-section .main-btn{
    padding: 12px 40px;
    font-size: 16px;
  }
  .hero-section .arrow-btn{
    padding: 10px;
  }
  /* Header */
}